<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input autocomplete="off" autofocus class="form-group" name="name" placeholder="Type your name" type="text">
                    <input autocomplete="off" class="form-group" name="month" placeholder="Type the month that you born" type="number">
                    <input autocomplete="off" class="form-group" name="day" placeholder="Type the day that you born" type="number">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if birthdays %}
                            {% for birthday in birthdays %}
                                <tr>
                                    <td>{{ birthday["name"] }}</td>
                                    <td>{{ birthday["date"] }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
